@using ErpSwiftCore.Web.Utility
@{
    ViewData["Title"] = "Home Page";
    bool isAdmin = User.Identity.IsAuthenticated && User.IsInRole(SD.Role_Admin);
    Layout = isAdmin ? "_AdminLayout" : "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
