@using ErpSwiftCore.Web.Models.AuthenticationSystemManagmentModels.PasswordSecurity
@using ErpSwiftCore.Web.Utility
@model ChangePasswordRequestDto
@{
    ViewData["Title"] = "Change Password";
    bool isAdmin = User.Identity.IsAuthenticated && User.IsInRole(SD.Role_Admin);
    Layout = isAdmin ? "_AdminLayout" : "_AuthLayout";
}
<div class="pagetitle">
    <h1>Change Password</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="UserProfile" asp-action="Profile">My Profile</a></li>
            <li class="breadcrumb-item active">Change Password</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Enter your current and new password</h5>

        


            <form asp-action="ChangePassword"
                  method="post"
                  class="row g-3 needs-validation"
                  novalidate>
                @Html.AntiForgeryToken()

                <div class="col-md-12 mb-3">
                    <label asp-for="CurrentPassword" class="form-label">Current Password</label>
                    <input asp-for="CurrentPassword" type="password" class="form-control" required />
                    <div class="invalid-feedback" asp-validation-for="CurrentPassword"></div>
                </div>

                <div class="col-md-12 mb-3">
                    <label asp-for="NewPassword" class="form-label">New Password</label>
                    <input asp-for="NewPassword" type="password" class="form-control" required />
                    <div class="invalid-feedback" asp-validation-for="NewPassword"></div>
                </div>

                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-warning">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</section>
